*{
  box-sizing:border-box;
  }
  .totalall{
    
      display:flex;
        justify-content:center;
	  align-items:space-around;
	    height:500px;
	      width:500px;
	        background:rgb(70,70,70);
		  margin:0 auto;
		    background-image: -webkit-gradient(radial, center center, 0, center center, 220, from(rgb(130,130,130)), to(rgb(70,70,70)));
		    }
		    .total{
		      width:200px;
		        height:200px;
			  border:14px solid #FFFFFF;
			    border-radius:100px;
			      position:relative;
			         -webkit-box-reflect:below  5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(white));
				   margin-top:70px;
				   background:#F7F7F7;/*背景颜色*/

				   background-image: linear-gradient(90deg,#D0B381 50%, transparent 0),linear-gradient(#D1A86C 50%, transparent 0);/*背景图片：线性渐变（90度），色彩模式，背景透明*/

				   background-size: 30px 30px;/*背景大小*/
				   box-shadow:inset 0 5px 15px #B4B4B4,0 5px 15px #7F848A;

				   }
				   .total > span{
				     font-family:黑体;
				       font-size:24px;
				         
					   width:30px;
					     height:30px;
					       text-align:center;
					       }
					        .total > .total_1{
						  position:absolute;
						    right:5px;
						      top:71px;
						      }
						      .total .total_2{
						        position:absolute;
							  bottom:5px;
							    left:71px;
							     
							     }
							     .total .total_3{
							       position:absolute;
							        top:71px;
								  left:5px;
								    
								    }/*元素绝对定位一半但是忽略了本身的宽度，都是左对齐，如何解决*/
								    .total .total_4{
								      position:absolute;
								       left:71px;
								         top:5px;
									 }
									 .total .total_5{
									   position:absolute;
									     left:50%;
									       top:50%;
									         width:16px;
										   height:16px;
										     border-radius:8px;

										       margin-top:-8px;
										         margin-left:-8px;
											   z-index:2;
											     background:RED;

											     }
											     .total .total_5::after{
											       content: "" ;
											         position:absolute;
												   left:3px;
												     top:3px;
												       background:black;
												         width:10px;
													   height:10px;
													     border-radius:50%;
													       transform:translateZ(30px)
													       }

													       .total .total_colck>div{
													         transition:all 2s;
														 }
														 .total > .second-hand{
														 position:absolute;
														 left:50%;
														 top:50%;
														 width:80px;
														 height:2px;
														 background:red;
														 border-radius:1px;
														 margin-top:-1px;
														 margin-left:-15px;
														 transform-origin:15px 1px;
														 }
														 .total > .minute-hand{
														   position:absolute;
														     left:50%;
														       top:50%;
														       width:70px;
														       height:8px;
														       background:black;
														       margin-top:-4px; 
														       margin-left:-15px;
														       transform-origin:15px 4px;
														       border-radius:5px;
														       }
														       .total > .hour-hand{
														       position:absolute;
														       left:50%;
														       top:50%;
														       width:60px;
														       height:8px;
														       background:black;
														       margin-top:-4px; 
														       border-radius:5px;
														       margin-left:-15px;
														       transform-origin:15px 4px;
														       }

														               

